venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.DS_Store
.idea/
.vscode/
static/uploads/
uploads/
*.pdf
*.png
*.jpg
*.jpeg
*.webp
.cache/
.hf_cache/
.ipynb_checkpoints/
malayalam_model/